[submodule "exec"]
  path = exec
  url = ../exec.git
[submodule "io"]
  path = io
  url = ../io.git
[submodule "jci"]
  path = jci
  url = ../jci.git
[submodule "lang"]
  path = lang
  url = ../lang.git
[submodule "logging"]
  path = logging
  url = ../logging.git
[submodule "mail"]
	path = mail
	url = ../mail.git
[submodule "math"]
  path = math
  url = ../math.git
[submodule "net"]
  path = net
  url = ../net.git
[submodule "sql"]
  path = sql
  url = ../sql.git
[submodule "test"]
  path = test
  url = ../test.git
[submodule "util"]
  path = util
  url = ../util.git
