[submodule "exec"]
  path = exec
  url = ../ext-exec.git
[submodule "io"]
  path = io
  url = ../ext-io.git
[submodule "jci"]
  path = jci
  url = ../ext-jci.git
[submodule "lang"]
  path = lang
  url = ../ext-lang.git
[submodule "logging"]
  path = logging
  url = ../ext-logging.git
[submodule "mail"]
	path = mail
	url = ../ext-mail.git
[submodule "math"]
  path = math
  url = ../ext-math.git
[submodule "net"]
  path = net
  url = ../ext-net.git
[submodule "sql"]
  path = sql
  url = ../ext-sql.git
[submodule "test"]
  path = test
  url = ../ext-test.git
[submodule "util"]
  path = util
  url = ../ext-util.git
